
/* 
body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(32, 29, 24);
} */

*{
    /* background-color: greenyellow; */
}

.container{
    background-color: rgb(238, 228, 210);
    display: flex;
    justify-content: center;
    width: 35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

@media screen and (max-width: 800px) {
    .container{
        margin-left: 30vw;
    }
}